<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<scheduling>
			<agent type="CP.Diagnostics.Sitecore.LogAnalyzer.LogAnalyzerAgent" method="Run" interval="00:01:00">
				<!-- REQUIRED: Client name which appears in the Email subject-->
				<ClientName>Client Name</ClientName>
				<!-- REQUIRED: Location of the sitecore logs -->
				<LogDirectory>sitecore log directory</LogDirectory>
				<!-- REQUIRED: Regular Expression to find the log files to analyze under the LogDirectory-->
				<LogFilesRegEx>*log.*.txt</LogFilesRegEx>
				<!-- REQUIRED: List of ; delimitted email ids, the email will be sent to these emails when the anlyzer finds log entries-->
				<EmailIds>dev@company.com</EmailIds>
				<!-- REQUIRED: From address for the email sent-->
				<FromAddress>noreply@company.com</FromAddress>
				<!-- OPTIONAL: Set LogLevel as below. Default is Error. Possible values are Error, Warn, Info -->
				<LogLevel>Error</LogLevel>
				<!-- OPTIONAL: Configure log analyzer to look back n hours from the current time. Default is 1 hour -->
				<LookBackHours>2</LookBackHours>
				<!-- OPTIONAL: Smtp host to use for sending emails. Default uses settings from config file-->
				<SmtpHost>MailServer</SmtpHost>
				<!-- OPTIONAL: Send content as attachement. Default is false-->
				<AsAttachement>true</AsAttachement>
			</agent>
		</scheduling>
	</sitecore>
</configuration>